<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
        
    <appender name="error_file"
                  class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/trolleyes.log" />
        <param name="MaxFileSize" value="500KB" />
        <param name="MaxBackupIndex" value="7" />
        <param name="Threshold" value="WARN" />

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                               value="%n%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%l] %n%m%n" />
        </layout>
    </appender>


    <root level="error">
        <priority value ="debug"></priority>
        <appender-ref ref="error_file"></appender-ref>
    </root>


</log4j:configuration>
